@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Ndot-55';
		src: local('Ndot-55'), url('/fonts/Ndot-55.otf');
		font-weight: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Lettera Mono LL';
		src: local('Lettera Mono LL'), url('/fonts/LetteraMonoLL.otf');
		font-weight: normal;
		font-display: swap;
	}
}

html {
	@apply relative transition-all;
}

body {
	@apply bg-white font-base text-black dark:bg-black dark:text-white;
}

h1 {
	@apply font-dot text-3xl;
}

h2 {
	@apply font-base text-2xl;
}

p {
	@apply text-base;
}

.tippy-box[data-theme~='nothing'] {
	@apply dark:bg-black bg-white dark:text-white text-black border border-black dark:border-white
}

.tippy-box[data-theme~='tomato'][data-placement^='top']>.tippy-arrow::before {
	@apply border border-white
}

.tippy-box[data-theme~='tomato'][data-placement^='bottom']>.tippy-arrow::before {
	border-bottom-color: tomato;
}

.tippy-box[data-theme~='tomato'][data-placement^='left']>.tippy-arrow::before {
	border-left-color: tomato;
}

.tippy-box[data-theme~='tomato'][data-placement^='right']>.tippy-arrow::before {
	border-right-color: tomato;
}
